@import url('https://fonts.googleapis.com/css2?famimly=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sanas-serif;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
     width:100%
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #caafa8;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
 .logo{
    font-size: 1rem;
    color: rgb(52, 48, 48);
    font-weight:bold ;

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #dccac6;
    transition: 0.03s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: #836a67 ;
}

#navab li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(52, 48, 48);
    position: absolute;
    bottom: -4px;
    left: 20px;
}