@import url('https://fonts.googleapis.com/css2?famimly=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sanas-serif;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: 1px solid #fff;
  border: none;
  outline: none;
  transition: 0.2s;
}


body{
     width:100%
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #b5897e;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
 .logo{
    font-size: 1em;
    color: rgb(107, 87, 87);
    font-weight:bold ;
    font-style: bold;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar.active{
  right: 0px;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #dccac6;
    transition: 0.03s ease;
}
#navbar  li a:hover,
#navbar li a.active{
    color: rgb(107, 87, 87);
}

#navab li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #b3bebd;
    position: absolute;
    bottom: -4px;
    left: 20px;
}        

#hero{
    background-image: url("images/pp3.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h3{

    padding-bottom: 15px;
    color: rgb(165, 143, 117);

}
#hero button{
    background-color: transparent;
    color: rgb(192, 177, 160);
    border: 4px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 {
    text-align:center
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    
} 

#product1 .pro:hover{
    box-shadow: 20px 20px 30px  rgba(0,0,0, 0.06);
}

#product1 .pro img{
    width: 90%;
    border-radius: 20px ;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;

}  

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(223, 188, 175);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: azure;
    font-size: 16px;
}
#banner h3{
    color: azure;
    font-size: 30px;
    padding: 10px 0 ;
}
#banner h3 span{
    color: #1a1a1a;
}

#banner button:hover{
    background: #b5897e;
    color: #dccac6;
}
 




.container {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.border:hover {
  border: 1px solid #fff;
}

.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card0 {
  background: url(images/nec.jpg)
    center center no-repeat;
  background-size: 300px;
}

.card0:hover {
  background: url(images/maa.jpg)
    left center no-repeat;
  background-size: 600px;
}

.card0:hover h2 {
  opacity: 1;
}

.card0:hover .fab {
  opacity: 1;
}

.card1 {
  background: url(images/lo.jpg)
    center center no-repeat;
  background-size: 300px;
}

.card1:hover {
  background: url(images/loo.jpg)
    left center no-repeat;
  background-size: 600px;
}

.card1:hover h2 {
  opacity: 1;
}

.card1:hover .fab {
  opacity: 1;
}

.card2 {
  background: url(images/br.jpg)
    center center no-repeat;
  background-size: 300px;
}

.card2:hover {
  background: url(images/brr.jpg)
    left center no-repeat;
  background-size: 600px;
}

.card2:hover h2 {
  opacity: 1;
}

.card2:hover .fab {
  opacity: 1;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}

.fab {
  opacity: 0;
  transition: opacity 1s;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


#sm-banner .banner-box{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(images/rr.jpg);
    min-width: 49%;
    padding: 1.5rem;
    height: 40vh;
    background-size: cover;
    background-position: center;
    
}

#sm-banner .banner-box2{
  background-image: url(images/bann1.jpg);
}

#sm-banner h4{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2{
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
  background: rgb(107, 87, 87);
  border: 1px solid rgb(107, 87, 87);
}
#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}


#banner3 .banner-box{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(images/jo.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
  background-image: url(images/dm3.jpg);
}

#banner3 .banner-box3{
  background-image: url(images/dm1.jpg);
}

#banner3 h3{
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h4{
  color: rgb(107, 87, 87);
  font-weight: 800;
  font-size: 15px;
}

#newletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: #b5897e;
  background-repeat: no-repeat;background-position: 20% 30%;
  background-color: #b5897e;
}
#newletter h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newletter p{
  font-size: 14px;
  font-weight: 600;
  color: rgb(107, 87, 87);
}
#newletter p span{
  color: #000;
}

#newletter .form{
  display: flex;
  width: 40%;
}


#newletter input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newletter button{
  background-color: rgb(107, 87, 87);
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
 align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo{
  margin-bottom: 30px;
  color: rgb(107, 87, 87);
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}

footer h4{
  font-size: 14px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 14px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer a:hover{
  color: rgb(107, 87, 87);
}























#page-header{
  background-image: url(images/dm.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-header h3{
  color: #dccac6;
}
#pagination{
  text-align: center;
}
#pagination a{
  text-decoration: none;
  background-color: #b5897e;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}
#productdetails{
  display: flex;
  margin-top: 20px;
}

#productdetails .single-pro-image{
  width: 30%;
  margin-right: 50px;

}

.small-img-group{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
#productdetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
}

#productdetails .single-pro-details h4{
    padding-top: 40px 0 20px 0;
}

#productdetails .single-pro-details h2{
  font-size: 20px;
}
#productdetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#productdetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 14px;
  font-size: 16px;
  margin-right: 10px;
}
#productdetails .single-pro-details input:form{
  outline: none;
}
#productdetails .single-pro-details span{
  line-height: 25px;
}

#page-header.blog-header{
  background-image: url(images/rdm1.jpg);

}

#page-header p{
  color:rgb(107, 87, 87) ;
}
  
#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img{
  width: 50%;
  margin-right: 40px;
}
#blog img{
width: 100%;
height: 300px;
object-fit: cover;
}
#blog .blog-details {
  width: 50%;
  
}
#blog .blog-details P{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#blog .blog-details a{
  text-decoration: none;
  font-size: 11px;
  color: black;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}
#blog .blog-details a::after {
content: "";
width: 50px;
height: 1px;
background-color: #000;
position: absolute;
top: 4px;
right: -60px;
}
  
#blog .blog-details a:hover{
  color: #b5897e;
}
#blog .blog-details a:hover::after{
  background-color: #b5897e;
}
#blog .blog-box h1{
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c3cbce;
  z-index: -9;
}

#page-header .about-header {
background-image: url(images/about.jpg);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#about-head{
  display: flex;
  align-items: center;
}
#about-head img{
  width: 30%;
  height: auto;
}
#about-head div{
  padding-left: 40px;
}
#about-app{
  text-align: center;
}
#page-header  p{
  color: antiquewhite;
}


.contain{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(234, 166, 148, 0.822),rgba(234, 166, 148, 0.822)),url(images/ban.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}






@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");



.ccontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {
  background: linear-gradient(90deg, #b5897e, #b5897e);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #b5897e;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #b5897e;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #b5897e;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: #b5897e;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #b5897e;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #b5897e;
  box-shadow: 0px 2px 2px #b5897e;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875b5;
}

.social-login {
  position: absolute;
  height: 140px;
  width: 160px;
  text-align: center;
  bottom: 0px;
  right: 0px;
  color: #fff;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login__icon {
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px #7875b5;
}

.social-login__icon:hover {
  transform: scale(1.5);
}


